{:paths
 ["src/main"
  "src/test"
  "src/ui-release"]

 :deps
 {com.thheller/shadow-css {:mvn/version "0.4.5"}}

 :aliases
 {:dev
  {:extra-paths
   ["src/dev"
    "src/test"]
   :extra-deps
   {org.clojure/clojure {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.132"}
    ;;
    town.lilac/flex {:git/url "https://github.com/lilactown/flex"
                     :git/sha "25a96d6f6eb976e4ee2a8514743205db600a92d4"}}
   :override-deps
   {com.thheller/shadow-css {:local/root "../shadow-css"}}}

  :server
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.27.4"}}
   :jvm-opts ["-Dfile.encoding=UTF-8"]
   :main-opts ["-m" "shadow.cljs.devtools.cli" "run" "repl/start"]}}}
