{:paths
 ["src/main"
  "src/test"]

 :deps
 {com.thheller/shadow-css {:mvn/version "0.2.0"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/clojurescript {:mvn/version "1.11.60"}}

 :aliases
 {:dev
  {:extra-paths
   ["src/dev"
    "src/test"]
   :extra-deps
   {org.clojure/clojure {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}}}

  :server
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.19.6"}}
   :jvm-opts ["-Dfile.encoding=UTF-8"]
   :main-opts ["-m" "shadow.cljs.devtools.cli" "clj-repl"]}}}
