;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :jvm-opts
 ["-XX:-OmitStackTraceInFastThrow"]

 :version
 "2.16.12"

 :dependencies
 [[metosin/reitit-core "0.5.12"]
  [com.wsscode/pathom "2.2.28"]
  ;; for benchmark purposes, not actually a dependency
  [reagent "0.9.0-rc3"]]

 :dev-http
 {3005 "public"
  3006 "examples/todomvc"
  3007 "examples/todomvc-split"
  3008 "examples/suspense"
  3009 "examples/bench-fragment"
  3010 "out/browser-test"
  3011 "examples/app/public"
  3012 "examples/fulcro"
  3013 "examples/ui"}

 :build-defaults
 {:compiler-options
  {:fn-invoke-direct true
   :shadow-tweaks true
   :shadow-keywords true}}

 :builds
 {:ui ;; FIXME: should at some point has some kind of workspaces like UI
  {:target :browser
   :output-dir "examples/ui/js"
   :modules {:main {:init-fn dummy.ui/init}}}

  :examples-bootstrap
  {:target :bootstrap
   :output-dir "examples/app/public/bootstrap"
   :exclude #{cljs.js}
   :entries [shadow.experiments.grove]
   :compiler-options {:output-feature-set :es6}
   :macros []}

  :examples-host
  {:target :browser
   :asset-path "js"
   :output-dir "examples/app/public/js"

   :modules {:main {:init-fn shadow.experiments.grove.examples.app/init}}

   :compiler-options
   {:optimizations :simple
    :output-wrapper false
    :output-feature-set :es6}

   :js-options
   {:js-package-dirs ["packages/examples/node_modules"]}}

  :test-dom
  {:target :browser
   :modules {:main {:init-fn shadow.experiments.grove.test-app.dom/init}}}

  :test
  {:target :browser-test
   :test-dir "out/browser-test"
   :compiler-options {:output-feature-set :es-next}}

  :todomvc-simple
  {:target :browser
   :output-dir "examples/todomvc/js"
   :modules {:main {:init-fn todomvc.simple/init
                    :preloads [shadow.experiments.grove.dev-support]}}}

  :todomvc-single
  {:target :browser
   :output-dir "examples/todomvc/js"
   :modules {:main {:init-fn todomvc.split.single/init
                    :preloads [shadow.experiments.grove.dev-support]}}}

  :suspense
  {:target :browser
   :output-dir "examples/suspense/js"
   :modules {:main {:init-fn dummy.suspense/init
                    :preloads [shadow.experiments.grove.dev-support]}}}

  :todomvc-split
  {:target :browser
   :output-dir "examples/todomvc-split/js"
   :modules
   {:shared
    {:entries []}
    :main
    {:init-fn todomvc.split.main/init
     :preloads [shadow.experiments.grove.dev-support]
     :depends-on #{:shared}}
    :worker
    {:init-fn todomvc.split.worker/init
     :web-worker true
     :depends-on #{:shared}}}}

  :fulcro
  {:target :browser
   :output-dir "examples/fulcro/js"
   :modules {:main {:init-fn dummy.fulcro/init}}
   :js-options
   {:resolvex
    {"react" false
     "react-dom" false}}}

  :bench-db
  {:target :node-script
   :output-to "out/bench-db.js"
   :main shadow.experiments.grove.bench-db/main
   :devtools {:enabled false}}

  :bench-fragment
  {:target :node-script
   :compiler-options {:optimizations :simple}
   :output-to "out/bench-fragment.js"
   :main shadow.experiments.grove.bench-fragment/main
   :devtools {:enabled false}}

  :bench-fragment-browser
  {:target :browser
   :output-dir "examples/bench-fragment/js"
   :modules {:main {:init-fn shadow.experiments.grove.bench-fragment/init}}
   :devtools {:enabled false}}
  }}
