;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :jvm-opts
 ["-XX:-OmitStackTraceInFastThrow"]

 :version "2.8.76"

 :dependencies
 []

 :dev-http
 {3005 "public"
  3006 "examples/todomvc"
  3007 "examples/conduit"
  3008 "examples/bench-fragment"}

 :builds
 {:test-dom
  {:target :browser
   :compiler-options {:infer-externs :auto
                      :fn-invoke-direct false}
   :modules {:main {:init-fn shadow.experiments.grove.test-app.dom/init}}}

  :todomvc
  {:target :browser
   :output-dir "examples/todomvc/js"
   :compiler-options {:infer-externs :auto
                      :shadow-keywords true}
   :modules {:main {:init-fn shadow.experiments.grove.test-app.todomvc/init
                    :preloads [shadow.experiments.grove.dev-support
                               shadow.remote.runtime.cljs.browser]}}}

  :todomvc-split
  {:target :browser
   :output-dir "examples/todomvc/js"
   :compiler-options
   {:infer-externs :auto
    :shadow-keywords true}
   :modules
   {:shared
    {:entries []}
    :main
    {:init-fn shadow.experiments.grove.test-app.todomvc.main/init
     :preloads [shadow.experiments.grove.dev-support
                shadow.remote.runtime.cljs.browser]
     :depends-on #{:shared}}
    :worker
    {:init-fn shadow.experiments.grove.test-app.todomvc.worker/init
     :web-worker true
     :depends-on #{:shared}}}
   :devtools {:loader-mode :script}}

  :conduit
  {:target :browser
   :output-dir "examples/conduit/js"
   :compiler-options {:infer-externs :auto
                      :shadow-keywords true}
   :modules {:main {:init-fn conduit.frontend/init
                    :preloads [shadow.experiments.grove.dev-support
                               shadow.remote.runtime.cljs.browser]}}}

  :bench-db
  {:target :node-script
   :compiler-options {:fn-invoke-direct true}
   :output-to "out/bench-db.js"
   :main shadow.experiments.grove.bench-db/main
   :devtools {:enabled false}}

  :bench-fragment
  {:target :node-script
   :compiler-options {:fn-invoke-direct true
                      :optimizations :simple}
   :output-to "out/bench-fragment.js"
   :main shadow.experiments.grove.bench-fragment/main
   :devtools {:enabled false}}

  :bench-fragment-browser
  {:target :browser
   :compiler-options {:fn-invoke-direct true
                      ;; FIXME: can't use :advanced because it is too smart
                      ;; and removes the code we actually want to test :P
                      ;; :optimizations :simple
                      }
   :output-dir "examples/bench-fragment/js"
   :modules {:main {:init-fn shadow.experiments.grove.bench-fragment/init}}
   :devtools {:enabled false}}
  }}
